/*==========base-style==========*/
body {
  min-width: 1200px;
  font-family:  "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;

  background-color: #849d8f;
}

body > input[type="radio"] {
  display: none;
}

h1 {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  color: #fff;
}

h2 {
  font-size: 35;
  line-height: 41px;
  font-weight: 700;
  color: #fff;
}

.page-wrapper {
  width: 1146px;
  margin: 0 auto;
}

.page-wrapper-big {
  width: 1200px;
  margin: 0 auto;
}

.wrapper {

  background-color: #849d8f;
  background-image: url("../img/ice-cream-white.png");
  background-repeat: no-repeat;
  background-position: top center;

  transition:
    background-image 0.5s ease,
    background-color 0.5s ease;
}

.wrapper::before,
.wrapper::after {
  content: "";
  visibility: hidden;
}

.wrapper::before {
  background-image: url("../img/ice-cream-white2.png");
}

.wrapper::after {
  background-image: url("../img/ice-cream-white3.png");
}


.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.sprite {
  background: url("../img/sprite.png") no-repeat;
  background-position: -30px 0;
}

 .wrapper .btn,
 .page-wrapper .btn {
  cursor: pointer;
  background-image: linear-gradient(to bottom, #f26843, #e34e3a);
  border-radius: 50px;
  box-shadow: 0px 2px 2px 0px rgba(172,16,0,0.64);

}

 .wrapper .btn:hover,
 .page-wrapper .btn:hover {
  background-image: linear-gradient(to bottom, #f58669,
    #ec6f5e);
}

 .wrapper .btn:active,
 .page-wrapper .btn:active {
  background-image: linear-gradient(to top, #e0603e,
    #d84732);
  box-shadow: inset 0 2px 2px 0 #942718;
}

body a {
  color: #fff;
}

body a:hover {
  color: #ffbc9e;
}

input,
button {
  outline: none;
}

textarea:hover {
  border-radius: 3px;
  border: 2px solid #c7c6c5;
}
textarea:focus {
  border-radius: 3px;
  border: 2px solid #8fbdec;
}



/*==========header=========*/
.logo {
  position: relative;
  left: -7px;
  width: 160px;
  float: left;
  padding-top: 10px;
}

.main-navigation {
  width: 650px;
  float: left;
}

.active {
  background: #d07058;
  color: #fff;
  border-radius: 50px;
  text-decoration: none;
}

.inner-page .active::before {
  display: none;
}

.main-navigation-item {
  padding: 23px 0px;
  margin: 0;

  font-size: 0px;
  list-style: none;
}

.main-navigation-item-list {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 0px;
  padding-bottom: 5px;
  font-size: 16px;
}

.main-navigation-item-list > a {
  position: relative;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

.main-navigation-item-list > a::before {
  content: "";
  display: block;
  position: absolute;
  top: 25px;

  left: 15px;
  right: 15px;
  height: 1px;
  background: rgba(255,255,255,0.3);
}

.main-navigation-item-list:hover > a {
  background: #f8f7f4;
  color: #333333;
  border-radius: 50px;
  text-decoration: none;
}

.main-navigation-item-list:hover > a::before {
  display: none;
}

.main-navigation-item-list > a:active {
  background: #ededed;
  color: #333;
  border-radius: 50px;
  text-decoration: none;
  box-shadow: inset 0 2px 1px 0 #696969;
}

.main-navigation-item-list:hover .sub-menu {
  display: block;
}

.sub-menu {
  position: absolute;
  top: 36px;
  left: -5px;
  z-index: 100;
  display: none;

  width: 145px;
  padding: 0;
  margin: 0;

  box-shadow: 0px 20px 20px 0px rgba(0,0,0,0.4);
  list-style: none;
}

.sub-menu-new {
  border-top-left-radius: 5px;;
  border-top-right-radius: 5px;
}

.sub-menu-melorin {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.sub-menu {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.sub-menu a {
  font-size: 14px;
  line-height: 16px;
  display: block;
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 7px;
  color: #323232;
  background: #f8f7f4;
  text-decoration: none;
}

.sub-menu a:hover {
  background: #fbded7;
  color: #323232;
}

.sub-menu a:active {
  background: #f6b5a5;
  color: #fff;
}

.sub-menu .sub-menu-new {
  position: relative;
  font-size: 14px;
  line-height: 16px;
  padding-top: 12px;
  padding-bottom: 12px;

  font-weight: 700;
}

.sub-menu .sub-menu-new::after {
  content: "";
  position: absolute;
  top: 40px;
  left: 8px;
  right: 8px;
  height: 1px;
  background: #d1d0ce;

}

.sub-menu .sub-menu-melorin {
  padding-bottom: 15px;
}


/*===========user-block=============*/
.user {
  max-width: 267px;
  float: right;
  margin-top: 23px;
  font-size: 0;

}

.search-link {
  display: block;
  width: 32px;
  height: 32px;

  text-indent: -1000px;
  background-position: 0 -258px;
  background-color: rgba(255,255,255,0.3);
  border-radius: 50%;

}

.search-link:hover {
  background-color: #f8f7f4;
  background-position: 0 -290px;
}

.search-block {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  margin-right: 10px;
  padding-bottom: 5px;
}

.search-block form {
  position: absolute;
  top: 37px;
  left: -308px;
  z-index: 100;
  display: none;
  width: 310px;

  background: #f8f7f4;
  padding: 20px 15px;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0,0,0,0.4);
}

.search-block:hover form {
  display: block;
}

.search-block input[type="search"] {
  width: 100%;
  height: 42px;
  padding: 8px 13px;
  box-sizing: border-box;

  border: 1px solid #d3d3d2;
  border-radius: 3px;

}

.search-block input[type="search"]:hover {
  border-radius: 3px;
  border: 2px solid #c7c6c5;
}

.search-block input[type="search"]:focus {
  border-radius: 3px;
  border: 2px solid #8fbdec;
}



.user-login-block {
  position: relative;

  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  margin-right: 10px;
  padding-bottom: 5px;
  width: 92px;
}

.user-login-link::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 15px;

  width: 22px;
  height: 26px;

  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -6px -128px;


}

.user-login-link:hover::before {
  background-position: -6px -163px;
}

.user-login-link {
  display: block;
  padding: 8px 15px;
  padding-left: 45px;

  line-height: 16px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  background-color: rgba(255,255,255,0.3);
  border-radius: 50px;
}

.user-login-link:hover {
  background: #f8f7f4;
  color: #323232;
}

.user-login-block form {
  position: absolute;
  top: 37px;;
  left: -184px;
  z-index: 9;
  display: none;
  width: 240px;
  padding: 18px 20px;
  background: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0,0,0,0.4);
}

.user-login-block:hover form {
  display: block;
}

.user-login-block input[type="email"],
.user-login-block input[type="password"]{
  width: 241px;
  height: 44px;
  padding: 10px 15px;
  margin-bottom: 20px;
  box-sizing: border-box;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.user-login-block input[type="email"]:hover,
.user-login-block input[type="password"]:hover {
  border-radius: 3px;
  border: 2px solid #c7c6c5;
}

.user-login-block input[type="email"]:focus,
.user-login-block input[type="password"]:focus {
  border-radius: 3px;
  border: 2px solid #8fbdec;
}


.user-login-block .btn {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  padding: 11px 25px;
  margin-right: 18px;
  border-radius: 23px;
  color: #fff;
  background: #e95038;
  background-image: linear-gradient(to bottom, #f26843, #e34e3a);
  border: none;
}



.form-link {
  width: 120px;
  float: right;
}

.form-link span {
  display: block;
}

.form-link a {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
  text-decoration: none;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}




.user-box {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  position: relative;
  width: 118px;
  padding-bottom: 5px;
}


.user-box-link {
  display: block;
  padding: 8px 0;
  padding-left: 45px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #fff;
  background-color: rgba(255,255,255,0.3);
  border-radius: 50px;
  text-decoration: none;
}

.user-box-link::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 15px;

  width: 22px;
  height: 26px;

  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -7px -2px;
}

.user-box-link:hover {
  color: #323232;
  background: #f7f6f3;
}

.user-box-link:hover::before {
  background-position: -7px -38px;
}

.inner-page .user-box-link {
  color: #323232;
  background: #f7f6f3;
}

.inner-page .user-box-link::before {
  background-position: -7px -38px;
}

.inner-user-box:hover .user-box-table {
  display: table;
}

.user-box-table {
  position: absolute;
  top: 36px;
  right: -30px;
  z-index: 10;
  display: none;
  width: 540px;
  padding: 15px;
  padding-bottom: 17px;
  background: #f8f7f4;
  color: #323232;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  border-radius: 3px;
  box-shadow: 0px 20px 20px 0px rgba(0,0,0,0.4);
}

.user-box-table a {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #323232;
}

.user-box-table .btn {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  padding: 10px 15px;
  float: right;
}

.user-box-table .box-btn {
  padding: 0;
}


.user-box-table td {
  padding-right: 4px;
  padding-bottom: 16px;
  max-width: 187px;
}

.user-box-table td:last-child {
  padding-right: 0px;
}

.user-box-table .price-end {
  border-top: 1px solid #cacac7;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  padding-top: 15px;
  padding-bottom: 12px;
  text-align: right;
}

.user-box-table .price-td {
  color: #cccbca;
}


.user-contacts {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-align: right;
}

.user-contacts span {
  display: block;
  margin-top: 3px;

  font-size: 23px;
  line-height: 24px;
  font-weight: 700;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  margin-top: 16px;
  float: left;
  list-style: none;
  font-size: 0;
}

.breadcrumbs li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  font-weight: 400;
  padding-right: 20px;
}

.breadcrumbs li:after {
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  width: 7px;
  height: 7px;
  background: url("../img/mark.png") no-repeat;
}

.breadcrumbs li:last-child:after {
  display: none;
}

.breadcrumbs-list a {
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  font-weight: 400;
  border-bottom: 1px solid #aebeb5;
}


.breadcrumbs-list a:hover,
.breadcrumbs-list a:active {
  color: #ffbc9e;
}

/*==========main index==========*/

/*=========slider=========*/
.slider {
  position: relative;
  padding-top: 260px;
  text-align: center;
  margin-bottom: 40px;
}

.slide {
  display: none;
}

.slider .slide-title {
  width: 680px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 900;
  color: #fff;
}

.slide .btn {
  display: inline-block;
  vertical-align: top;

  padding: 10px 40px;
  border-radius: 50px;

  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  text-shadow: 0px 2px 5px #a0200b;
  box-shadow: 0px 2px 2px 0px rgba(172,16,0,0.64);
  background: #e84d36;
  background-image: linear-gradient(to bottom, #f26843, #e34e3a);
}

.slide .btn:hover {
  background-image: linear-gradient(to bottom, #f58669,
    #ec6f5e);
}

.slide .btn:active {
  background-image: linear-gradient(to top, #e0603e,
    #d84732);
  box-shadow: inset 0 2px 2px 0 #942718;
}

.slider label {
  display: inline-block;
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  border-radius: 50%;
  border: 2px solid #fff;
  background: transparent;
  cursor: pointer;
}

.slider label:hover {
  background-color: rgba(255,255,255,0.3);
}

.slider-controls {
  position: absolute;
  bottom: 20px;
  left: 0;
  font-size: 0;

}

#btn-1:checked ~ .wrapper #slide1,
#btn-2:checked ~ .wrapper #slide2,
#btn-3:checked ~ .wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .wrapper label[for="btn-1"],
#btn-2:checked ~ .wrapper label[for="btn-2"],
#btn-3:checked ~ .wrapper label[for="btn-3"] {
  background: #fff;
}

#btn-1:checked ~ .wrapper {
  background-color: #849d8f;
  background-image: url("../img/ice-cream-white.png");
}

#btn-2:checked ~ .wrapper {
  background-color: #8a97a7;
  background-image: url("../img/ice-cream-white2.png");
}

#btn-3:checked ~ .wrapper {
  background-color: #9d8b84;
  background-image: url("../img/ice-cream-white3.png");
}

/*=========features=========*/
.features {
  margin-bottom: 40px;
}

.features-item-title {
  margin: 0;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.features-item-left p,
.features-item-right p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 42px;

}

.features-item-left {
  width: 522px;
  float: left;
  margin-right: 26px;
  padding: 19px;
  padding-bottom: 24px;
  background: url("../img/raspberries-bg.jpg") no-repeat;
  border-radius: 15px;
}

.features-item-right {
  width: 522px;
  float: left;
  padding: 19px;
  padding-bottom: 24px;
  background: url("../img/choco-bg.jpg") no-repeat;
  border-radius: 15px;
}

.features .btn {
  float: right;
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding: 10px 25px;
  color: #fff;
  text-decoration: none;
  background: #ef6441;
  background-image: linear-gradient(to bottom, #f26843, #e34e3a);
  border-radius: 50px;

}

.features .btn:hover {
  background-image: linear-gradient(to bottom, #f58669,
    #ec6f5e);
}

.features .btn:active {
  background-image: linear-gradient(to top, #e0603e,
    #d84732);
  box-shadow: inset 0 2px 2px 0 #942718;
}

/*==========bestsller==========*/

.bestseller-wrapper {
  width: 267px;
  float: left;
  margin-right: 26px;
  text-align: center;
  border-radius: 5px;
}

.bestseller-wrapper:nth-child(4n) {
  margin-right: 0;
}

.bestseller-wrapper,
.catalog-item-wrapper {
  position: relative;
}

.bestseller-wrapper:hover,
.catalog-item-wrapper:hover {
  z-index: 100;
}

.bestseller-wrapper::after,
.catalog-item-wrapper::after {
  position: absolute;
  content: "";
  top: -5px;
  left: -5px;
  z-index: 1;
  display: none;
  width: 278px;
  height: 405px;
  border-radius: 4px;
  background: #f8f7f4;
  opacity: 0.3;
  box-shadow: 0px 20px 20px 0px rgba(0,0,0,0.4);
}

.bestseller-wrapper:hover::after,
.catalog-item-wrapper:hover::after {
  display: block;
}

.bestseller-item,
.catalog-item {
  position: relative;
  z-index: 2;
}

.bestseller img,
.catalog-content img {
  border-radius: 50%;
}

.bestseller-price,
.catalog-price {
  position: relative;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.bestseller-item > p,
.catalog-item > p {
  text-align: center;
  margin: 0;
  margin-top: 8px;
}

.bestseller-catalog-item-about a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255,255,255,0.3);
}


.bestseller-catalog-item-about a:hover {
  color: #ffbc9e;
}


.bestseller-catalog-item-about a:active {
  color: #ffbc9e;
}

.bestseller-item .btn,
.catalog-item .btn {
  position: absolute;
  left: 25px;
  right: 25px;
  top: 320px;
  z-index: 10;
  display: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  padding: 10px 13px;
  background: #f06341;
  background-image: linear-gradient(to bottom, #f26843, #e34e3a);
  border-radius: 50px;
}


.bestseller-wrapper:hover .btn,
.catalog-item-wrapper:hover .btn {
  display: inline-block;
  vertical-align: top;
  background-image: linear-gradient(to bottom, #f26843, #e34e3a);
  margin-top: 20px;
}

.bestseller-wrapper .btn:hover,
.catalog-item-wrapper .btn:hover {
  background-image: linear-gradient(to bottom, #f58669,
    #ec6f5e);
}

.bestseller-wrapper .btn:active,
.catalog-item-wrapper .btn:active {
  background-image: linear-gradient(to top, #e0603e, #d84732);
  box-shadow: inset 0 2px 2px 0 #942718;
}



.bestseller-price::before {
  content: "";
  position: absolute;
  width: 61px;
  height: 61px;
  top: 0;
  left: 0;
  background: url("../img/bestseller.png") no-repeat;
}

.price {
  position: absolute;
  bottom: 14px;
  left: 0;
}

.price span:first-child::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 80px;
  width: 35px;
  height: 35px;
  background: transparent url("../img/ru.png") no-repeat;
}

.price span:first-child {
  position: relative;
  padding-right: 21px;
  text-shadow: 1px 1px 3px rgba(49,50,53,0.5);
}

.price span:last-child {
  padding-right: 0;
  font-size: 33px;
  text-shadow: 1px 1px 3px rgba(49,50,53,0.5);
}



.bestseller-item:last-child {
  margin-right: 0px;
}

.bestseller {
  margin-bottom: 36px;
}



/*==========about==========*/
.about {
  margin-bottom: 40px;
  padding: 25px 20px;
  padding-bottom: 0;
  border-radius: 15px;
  background: url("../img/wafer-bg.jpg");
  font-size: 0;
}

.about-title {
  margin: 0;
  margin-bottom: 23px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
}

.about-sections {
  padding: 0;
  margin: 0;
  font-size: 0px;
  list-style-image: url("../img/about-sprite.png");
}


.about-sections > li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 484px;
  padding-left: 56px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;

}

.about-sections li::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  width: 50px;
  height: 50px;
}

.ice-cream::before {
  background: url(../img/about-ice-cream.png) no-repeat;
  background-position: 0 0;
}

.cow::before {
  background: url(../img/cow.png) no-repeat;
  background-position: 0 0;
}

.ingredients::before {
  background: url(../img/ingredients.png) no-repeat;
  background-position: 0 0;
}

.thermometer::before {
  background: url(../img/thermometer.png) no-repeat;
  background-position: 0 0;
}

.about-sections > li:nth-child(2n+1) {
  margin-right: 26px;
}

.about-sections > li {
  margin-bottom: 22px;
}

/*==============blog===============*/

.blog {
  margin-bottom: 40px;
}

.blog-news {
  width: 520px;
  float: left;
  padding: 25px 20px;
  padding-bottom: 30px;
  border-radius: 15px;
  background: url("../img/strawberry-bg.jpg") no-repeat;
}

.blog-news-title {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #323232;

}

.blog-news-text {
  margin: 0;
  margin-bottom: 48px;
}

.blog-news-text a {
  display: block;
  width: 295px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
}

.blog-news-text a:hover {
  color: #ffbc9e;
}

.blog-news-text a:active {
  color: #ffbc9e;
}

.delivery {
  width: 550px;
  float: right;
  padding: 5px;
  border-radius: 15px;
  background: url("../img/email-pattern.jpg") repeat;
}

.delivery-content {
  width: 510px;
  padding: 30px 20px;
  padding-bottom: 35px;
  border-radius: 15px;
  background: #f8f7f4;
}

.delivery-content p {
  margin: 0;
  margin-bottom: 37px;
  color: #5a5a5a;
  line-height: 22px;


}

.delivery-content input[type="email"] {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  width: 368px;
  height: 44px;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 3px;
  border: 1px solid #d3d3d2;
  margin-right: 8px;
}

.delivery-content input[type="email"]:hover {
  border-radius: 3px;
  border: 2px solid #c7c6c5;
}

.delivery-content input[type="email"]:focus {
  border-radius: 3px;
  border: 2px solid #8fbdec;
}

.delivery-content .btn {
  display: inline-block;
  vertical-align: top;
  padding: 9px 19px;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
  background: #f06441;
  background-image: linear-gradient(to bottom, #f26843, #e34e3a);
  border-radius: 50px;
  border: none;
}

/*==========map==========*/
.map {
  position: relative;
  background: url("../img/map-bg.jpg");
  width: 1200px;
  height: 430px;
  margin: 0 auto;

}

.map-frame {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 1200px;
  height: 430px;
}

.contacts {
  position: relative;
  z-index: 6;
  width: 255px;
  float: right;
  padding: 30px 23px;
  margin-top: 62px;
  margin-right: 35px;
  border-radius: 15px;
  background: #fff;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
}



.contacts p {
  margin: 0;
  margin-bottom: 18px;
}

.contacts p:nth-child(2) {
  line-height: 24px;
  margin-bottom: 24px;
}

.contacts span {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contacts .btn {
  display: inline-block;
  vertical-align: top;
  padding: 10px 28px;
  padding-right: 30px;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  background: #ee5c3e;
  background-image: linear-gradient(to bottom, #f26843, #e34e3a);

}

.feedback {
  position: fixed;
  top: 25%;
  left: 33%;
  z-index: 100;
  width: 427px;
  display: none;
  padding: 16px 25px 25px 25px;
  background: #f8f7f4;
  border-radius: 7px;
}

@keyframes bounce {
  0%   {
    transform: translateY(-2000px);
  }
  70%  {
    transform: translateY(30px);
  }
  90%  {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.feedback-show {
  display: block;
  animation: bounce 0.6s;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

.modal-error {
  animation: shake 0.6s;
}

.feedback-title {
  position: relative;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

.feedback-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 100;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  font-size: 0;
}



.feedback input[type="text"],
.feedback input[type="email"] {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 12px;
  margin-bottom: 20px;
  width: 265px;
  height: 44px;
  box-sizing: border-box;
  display: block;
  border-radius: 3px;
  border: 1px solid #d3d3d2;
}

.feedback input[type="text"]:hover,
.feedback input[type="email"]:hover {
  border-radius: 3px;
  border: 2px solid #c7c6c5;
}

.feedback input[type="text"]:focus,
.feedback input[type="email"]:focus {
  border-radius: 3px;
  border: 2px solid #8fbdec;
}

.feedback textarea {
  width: 100%;
  height: 154px;
  box-sizing: border-box;
  padding: 7px 12px;
  border-radius: 3px;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #d3d3d2;
  outline: none;
  margin-bottom: 20px;
  resize: none;
}

textarea:hover {
  border-radius: 3px;
  border: 2px solid #c7c6c5;
}
textarea:focus {
  border-radius: 3px;
  border: 2px solid #8fbdec;
}


.feedback .btn {
  float: right;
  display: block;
  vertical-align: top;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding: 10px 24px;
  color: #fff;
  text-decoration: none;
  border: none;
  background: #ef6441;
  background-image: linear-gradient(to bottom, #f26843, #e34e3a);
  border-radius: 50px;

}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 12;
  display: none;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.3);
}

.modal-overlay-show {
  display: block;
}


/*==========catalog==========*/
.catalog-form {
  width: 880px;
  font-size: 0px;
  margin-bottom: 2px;
}

.container-main-title {
  margin: 0;
  margin-top: -12px;
  margin-bottom: 47px;
}

.range-filter {
  width: 188px;
  position: relative;
  font-size: 14px;
  line-height: 16px;
}

.range-filter .scale {
  width: 188px;
  height: 4px;
  background: #d1dad3;
  margin: 7px auto;
}

.range-filter .bar {
  width: 55%;
  margin-left: 23px;
  height: 4px;
  background: #f8f7f4;
}

.range-filter .price-controls {
  position: absolute;
  top: -38px;
  left: 43px;
}

.price-controls input {
  width: 66px;
  font-size: 14px;
  line-height: 16px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  background: transparent;
  border: none;
  outline: none;
}

.range-filter .toggle {
  position: absolute;
  top: -8px;
  width: 20px;
  height: 20px;
  background: #f8f7f4;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
  cursor: pointer;
}

.range-filter .min-toggle:hover {
  top: -9px;
  left: 21px;
  border: 1px solid transparent;
}

.range-filter .max-toggle:hover {
  top: -9px;
  right: 49px;
  border: 1px solid transparent;
}

.min-toggle {
  left: 22px;
}

.max-toggle {
  right: 50px;
}

.range-filter label[for="max-price"] {
  position: relative;
}

.range-filter label[for="max-price"]:before {
  content: "";
  position: absolute;
  top: 7px;
  left: -15px;
  width: 7px;
  height: 1px;
  background: #fff;
}

.catalog-form fieldset {
  position: relative;
  display: inline-block;
  vertical-align: top;
  border: none;
  background: #a9b9af;
  border-radius: 50px;
  margin-right: 15px;
  margin-bottom: 38px;
  padding: 9px 16px 9px 13px;
}

.catalog-form .catalog-form-select {
  padding: 7px 9px 8px 9px;
}



.catalog-form legend {
  position: absolute;;
  top: -21px;
  left: 14px;
  font-size: 14px;
  line-height: 16px;
}

.catalog-form select {
  background: transparent;
  border: none;
  color: #fff;
  outline: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.catalog-form-select:hover {
  background: #fff;
  cursor: pointer;
}

.catalog-form-select:hover select {
  color: #323232;
  cursor: pointer;
}
.catalog-form option {
  color: #323232;
  font-size: 14px;
  line-height: 16px;

}


.catalog-form input[type="radio"],
.catalog-form input[type="checkbox"] {
  display: none;
}


.fat-content label,
.fillers-content label {
  position: relative;
  padding-left: 32px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  padding-right: 18px;
}

.fat-content label:last-of-type,
.fillers-content label:last-of-type {
  padding-right: 0;
}

.fillers-content label {
  padding-right: 21px;
}

.fat-content label::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 3px;
  width: 18px;
  height: 18px;
  border: 1px solid #f8f7f4;
  border-radius: 50%;
  background: transparent;
}

.input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 8px;
  width: 10px;
  height: 10px;
  background: #f8f7f4;
  border-radius: 50%;
}

.fillers-content label::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #fff;
  border-radius: 3px;
  background: transparent;
}

.input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 15px;
  height: 14px;
  background-image: url("../img/check.png");
  background-position: -1px -1px;
  background-repeat: no-repeat;
}

.fat-content label:hover::before,
.fillers-content label:hover::before {
  width: 16px;
  height: 16px;
  border-width: 2px;
}


.catalog-form .catalog-btn {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #fff;
  padding: 7px 28px;
  background: #9cb0a4;
  border: 2px solid #fbfcfb;
  border-radius: 50px;
  cursor: pointer;
}

.catalog-form .catalog-btn:hover {
  padding: 9px 30px;
  background: #fbfcfb;
  border: none;
  color: #323232;
}

.catalog-form .catalog-btn:active {
  padding: 9px 30px;
  background: #eaeaea;
  border: none;
  color: #323232;
  box-shadow: inset 0 2px 2px 0 #696969;
}

.catalog-content {
  font-size: 0px;
  margin-bottom: 46px;
}

.catalog-item-wrapper {
  width: 267px;
  display: inline-block;
  vertical-align: top;
  margin-right: 26px;
  text-align: center;
  border-radius: 3px;
  margin-bottom: 35px;
}

.catalog-item-wrapper:nth-child(4n) {
  margin-right: 0;
}


.pagination {
  float: right;
  width: 267px;
  margin-bottom: 30px;
  text-align: right;
  font-size: 0;
}

.pagination .current {
  background: #fff;
  color: #323232;
}

.pagination .disabled {
  opacity: 0.3;
}

.pagination a{
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 27px;
  height: 27px;
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
  background: transparent;
  border-radius: 50%;
  text-decoration: none;
  padding-left: 1px;
  color: #fff;
}

.pagination a:hover {
  background-color: #9db1a5;
  color: #fff;
}

.pagination a:active {
  background: #fff;
  color: #323232;
}

.pagination .prev,
.pagination .next {
  background-image: url("../img/sprite.png");
}

.pagination .prev,
.pagination .next {
  font-size: 0;
}


.pagination .prev {
  background-position: -1px -228px;
}

.pagination .next {
  background-position: 8px -199px;
}

.pagination .prev:hover,
.pagination .next:hover,
.pagination .prev:active,
.pagination .next:active {
  background-color: transparent;
}

.inner-page main {
  border-bottom: 1px solid #a9bbb1;
}
/*==========footer==========*/
.main-footer {
  padding: 33px 0px 36px 0px;
}

.social {
  width: 267px;
  float: left;
  margin-right: 130px;
  margin-top: 3px;
}

.icon {
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 31px;
  margin-right: 10px;
  border: 3px solid #c2cec7;
  border-radius: 50%;
  background:  url("../img/social-sprite.png") no-repeat;
  background-position: -13px -122px;
  opacity: 0.8;
}

.icon:hover {
  opacity: 1;
}

.icon:active {
  box-shadow: inset 0 2px 1px 0 #888;
}

.social-icon-ig {
  background-position: -12px -67px;
}

.social-icon-fb {
  background-position: -12px -12px;
}

.social-icon-vk {
  background-position: -12px -177px;
}

.production {
  position: relative;
  float: left;
  width: 380px;
  padding: 0;
  padding-left: 25px;
  margin: 0 auto;
  font-size: 0;
  text-align: left;
}

.production-list {
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
  margin-bottom: 3px;
}

.production::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 2px;
  width: 15px;
  height: 15px;
  background: url("../img/heart.png") no-repeat;
}

.production a {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #9db1a5;

}

.production-list:first-child a  {
  font-weight: 700;
}

.production li:nth-child(3) {
  margin-right: 43px;
}

.copyright {
  position: relative;
  width: 268px;
  float: right;
  text-align: right;
  margin-top: 7px;
}

.copyright-logo {
  position: absolute;
  top: -23px;
  left: 78px;
  width: 108px;
  height: 37px;
  background: url("../img/logo-htmlacademy.png") no-repeat;
}

.copyright > p {
  margin-top: 20px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #fff;
}

.copyright-text a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #9db1a5;
}

.copyright-text a:hover {
    color: #ffbc9e;
    border: none;
}

.copyright-text a:active {
    color: #ffbc9e;
}
